@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Roboto:wght@300&display=swap");
.bg-rose {
  background-color: rgb(218, 120, 196);
}

.bg-black {
  background-color: #2a2a2a;
}

.bg-violet {
  background-color: #b038f5;
  color: white;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../Imagenes/imagenBody.jpg);
}

#botonera img {
  height: 50px;
}

#botonera div ul li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
  transition: all 1s;
}
#botonera div ul li a:hover {
  color: #2a2a2a;
}

.video {
  padding: 1rem;
  margin: 10px 10px 10px 10px;
  border: solid #384bf5 5px;
}

.tamaño-del-video {
  width: 100%;
  height: 500px;
}

.ideas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 2rem;
  border: dashed #ff7837 5px;
}
.ideas h1 {
  font-size: 4rem;
  color: rgb(218, 120, 196);
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  text-align: center;
  padding-bottom: 1rem;
}

.ideas p {
  max-width: 300px;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.contenedorMapa {
  display: flex;
}

.aside {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: dashed #ff7837 5px;
}
.aside iframe {
  width: 100%;
}

form h2 {
  text-align: center;
}

.formulario {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed #384bf5 4px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 120, 196);
  justify-content: space-evenly;
}

.tamaño-iconos {
  height: 80px;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}
.tamaño-iconos:hover {
  height: 95px;
  transition: all 1s;
}

h1 {
  text-align: center;
  font-size: 5rem;
  text-decoration: underline;
  color: #660457;
}

#sectionPapelera img[src="Imagenes/Papelera/acomodadorPersonalizable.jpeg"] {
  border: solid rgb(218, 120, 196) 5px;
}

#sectionPapelera img[src="Imagenes/Papelera/celularPapelPersonalizable.jpeg"] {
  border: solid rgb(218, 120, 196) 5px;
}

#sectionPapelera img[src="Imagenes/Papelera/pinDePapelPersonalizable.jpeg"] {
  border: solid rgb(218, 120, 196) 5px;
}

#sectionPapelera img[src="Imagenes/Papelera/tarjetaPersonalizada.jpeg"] {
  border: solid rgb(218, 120, 196) 5px;
}

section .card {
  background-color: none;
  height: 300px;
  width: 300px;
}

h1 {
  text-align: center;
  font-size: 5rem;
  text-decoration: underline;
  color: #660457;
}

#sectionImpresiones img[src="Imagenes/Impresion-3D/adornoPapaImpresion3D.jpeg"] {
  border: solid rgb(218, 120, 196) 5px;
}

#sectionImpresiones img[src="Imagenes/Impresion-3D/guardaEsponjaHomeroImpresion3D.jpeg"] {
  border: solid rgb(218, 120, 196) 5px;
}

#sectionImpresiones img[src="Imagenes/Impresion-3D/souvenirLlaveroImpresion3D.jpeg"] {
  border: solid rgb(218, 120, 196) 5px;
}

section .card {
  background-color: none;
  height: 300px;
  width: 300px;
}

#section, #sectionPapelera, #sectionImpresiones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sectionPapelera div img {
  width: 100%;
  height: 200px;
  padding: 2rem;
  border: solid #6848fd 5px;
}
#sectionPapelera div img:hover {
  border: solid #ff7837 5px;
  transition: 1s;
}

#sectionImpresiones div img {
  width: 100%;
  height: 200px;
  padding: 2rem;
  border: solid #6848fd 5px;
}
#sectionImpresiones div img:hover {
  border: solid #ff7837 5px;
  transition: 1s;
}

@media (max-width: 767px) {
  .contenedorInicio {
    display: grid;
    grid-template-areas: "header" "main" "aside" "form" "pie";
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .contenedorMapa {
    display: flex;
    flex-direction: column;
  }
  .aside {
    grid-area: aside;
  }
  .formulario2 {
    grid-area: form;
    width: 100%;
  }
  .footer {
    grid-area: pie;
  }
}