//fonts google
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Roboto:wght@300&display=swap');
$oneFont:'Roboto', sans-serif;
$secondatyFont:'Barlow Condensed', sans-serif;


//sizings
$margin: 10px;
$padding: 1rem;
$secondaryPadding: 2rem;
$threePadding:4rem;



//displays
$keyCode:flex;
